body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #def8e5;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.upgrades {
    width: 45%;
    background-color: #f9f9f9;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
}

.upgrades tr {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.upgrades tr:hover {
    background-color: #e0e0e0;
}

.upgrades td {
    flex: 2;
    text-align: left;
}

.upgrades button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.upgrades button:hover {
    background-color: #45a049;
}

.cookie {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 60%;
}

.cookie img {
    cursor: pointer;
    padding-top: 10px;
    width: 200px;
}

.cookie img:hover {
    transition: transform 0.3s ease;
}

.cookie img:active {
    transform: scale(0.95);
}

.items {
    margin-top: 20px;
    padding-top: 10px;
}

.info {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.itemshop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.itemshop tr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.itemshop td {
    display: flex;
    align-items: center;
    padding: 10px;

}

.itemshop button:hover {
    background-color: #e0e0e0;
}

.itemshop img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.itemshop button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.itemshop button:hover {
    background-color: #45a049;
}

/* Media Queries for Responsiveness */
@media (max-width: 764px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .upgrades, .items {
        width: 90%;
    }

    .cookie {
        position: static;
        width: 100%;
    }

    .itemshop {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 300px) {
    .upgrades button, .itemshop button {
        padding: 5px;
        font-size: 14px;
    }

    .itemshop img {
        width: 25px;
        height: 25px;
    }
}