body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.upgrades, .cookie {
    width: 45%;
}


.cookie {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 60%;
}

.cookie img {
    width: 300px;
    cursor: pointer;
    padding-top: 10;
}

.cookie img:hover {
    transition: transform 0.3s ease;

    
}

.cookie img:active {
    transform: scale(0.95)
}

.items {
    margin-top: 20px;
    padding-top: 10px;
}

.upgrades {
    padding-right: 20px;
}
